body {
  background-color: #b6b6ff;
  /* margin: 0 auto; */
  mad-width: 1200px;
    font-family: Effra, Calibri, Helvetica, Arial, sans-serif;
}
main {
  padding: 60px;
}

textarea {
  font-size: 60px;
  position: absolute;
  top: 15%;
  right: 200px;
  height: 200px;
  width: 500px;
  border: none;
  background-color: rgb(247,247,247);
  padding: 10px; /* 10 pixels on ALL sides */
}

button {
  text-align: center;
  margin:0;
  padding: 30px;
  width: 200px;
  border: none;
  font-size: 40px;
  font-family: Effra, Calibri, Helvetica, Arial, sans-serif;
  background-color: rgb(168,109,147);
  color: rgb(250,250,250); /* white */
}

button:hover {
  background-color: rgb(117,41,90);
}

.question {
  text-align: center;
  font-size: 40px;
  width: 700px;
  max-height: 200px;
  float:right;
  margin-right: 30%;
  padding-left:10px;
  padding-right:10px;
  border solid 1px black;
  background-color: hotpink;
}

.message {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  width: 700px;
  height: 70px;
  float:right;
  margin-right: 30%;
  padding:10px;
  border solid 1px black;
  background-color: #e6cf8b;
}
